{{#each errors}}
    <div class='alert alert-danger'>{{texto}}</div>
{{else}}
{{/each}}

<div class="card">
    <div class="card-body">
        <form action="/admin/posts/new" method="POST">
            <h3>New Post:</h3>
            <label for="tittle">Tittle: </label>
                <input type="text" id="tittle" name="tittle" placeholder="Enter post tittle" class="form-control">
            <label for="slug">Slug: </label>
                <input type="text" id="slug" name="slug" placeholder="Enter post slug" class="form-control">
            <label for="description">Description: </label>
                <input type="text" id="description" name="description" placeholder="Enter post description" class="form-control"> 
            <label for="content">Content: </label>
                <textarea id="content" name="content" placeholder="Enter post content" class="form-control"></textarea>
            <label for="category">Category: </label>
                <select name="category" class="custom-select">
                    {{#each categories}}
                        <option value="{{_id}}">{{name}}</option>
                    {{else}}
                        <option value="">No category registered</option>
                    {{/each}}
                </select>
            <br>
            <button type="submit" class="btn btn-success mt-4">Create Post</button>
        </form>
    </div>
</div>