<h2>Category list: </h2>
<hr>
<a href="/admin/categories/add"><button class="btn btn-success">Add Category</button></a>
{{#each categories}}
    <div class="card mt-4">
        <div class="card-body">
            <h4>{{name}}</h4>
            <small>{{slug}}</small>
            <br>
            <small>Creation date: {{date}}</small>
            <br>
            <a href="/admin/categories/edit/{{_id}}"><button class="btn btn-success mt-4">Edit category</button></a>
            <form method="post" action="/admin/categories/delete">
                <input type="hidden" name="id" value="{{_id}}">
                <button type="submit" class="btn btn-danger mt-2">Delete Category</button>
            </form>
        </div>
    </div>
{{else}}
    <p>No category registered</p>
{{/each}}