<h2>Posts list: </h2>
<hr>
<a href="/admin/posts/add"><button class="btn btn-success">Add Post</button></a>
{{#each posts}}
    <div class="card mt-4">
        <div class="card-body">
            <h4>{{tittle}}</h4>
            <p>Description: {{description}}</p>
            <small>Date: {{date}}</small>
            <br>
            <small>Category: {{category.name}}</small>
            <br>
            <a href="/admin/posts/edit/{{_id}}"><button class="btn btn-success mt-4">Edit post</button></a>
            <form method="post" action="/admin/posts/delete">
                <input type="hidden" name="id" value="{{_id}}">
                <button type="submit" class="btn btn-danger mt-2">Delete Post</button>
            </form>
        </div>
    </div>
{{else}}
    <p>No post registered</p>
{{/each}}