{{#each errors}}
    <div class='alert alert-danger'>{{texto}}</div>
{{else}}
{{/each}}
<h3>Create your account</h3>
<div class="card">
    <div class="card-body">
        
        <form method="post" action="/user/signup">
            <label for="name">Name: </label>
                <input type="text" id="name" name="name" placeholder="Enter your name" class="form-control" value="{{user.name}}" required>
            <label for="email">Email: </label>
                <input type="email" id="email" name="email" placeholder="Enter your email" class="form-control" value="{{user.email}}" required>
            <label for="password">Password: </label>
                <input type="password" id="password" name="password" placeholder="Enter your password" class="form-control" value="{{user.password}}" required>
            <label for="repeat">repeat the password: </label>
                <input type="password" id="repeat" name="repeat" placeholder="Repeat your password" class="form-control" value="{{user.repeat}}" required>
            <button class="btn btn-success mt-4">Sing Up</button>

        </form>
    </div>
</div>