<h2>Posts about {{category.name}}: </h2>
<hr>
{{#each posts}}
    <div class="card mt-4">
        <div class="card-body">
            <h4>{{tittle}}</h4>
            <p>{{description}}</p>
            <a href="/post/{{slug}}"><button class="btn btn-success">Read more</button></a>
            <hr>
            <small>Category: {{category.name}}</small><br>
            <small>Publication date: {{date}}</small>
            
        </div>
    </div>
{{else}}
    <p>No posts finding for this category</p>
{{/each}}